# Ignore object files and compiled binaries
*.o
*.out
*.exe

# Ignore build directories
/build/
bin/
obj/

# Ignore debugging files
*.dSYM/
*.pdb
*.ilk

# Ignore temporary files
*.tmp
*.log
*.swp
*.bak

# Ignore core dumps
core
*.core